<header class="bg-dark py-3">
    <img src="assets/img/logo.png" alt="Logo" class="logo me-2">
    <div class="container d-flex justify-content-between align-items-center">
        <h1 class="text-white align-items-center">My Portfolio</h1>
        <nav>
            <a routerLink="/" class="text-white">Home |</a>
            <a routerLink="/about" class="text-white"> About |</a>
            <a routerLink="/projects" class="text-white"> Projects |</a>
            <a routerLink="/contact" class="text-white"> Contact</a>
        </nav>
    </div>
</header>